<header class="header">
  <nav>
    <ul class="flex-container">
      <li>
        <a routerLink="pedidos" class="header__link">Pedidos</a>
      </li>
      <li class="header__brand" *ngIf="router.url !== '/'">
        <a routerLink="/">
          <img class="responsive-image" [src]="logo" alt="">
        </a>
      </li>
      <li>
        <div *ngIf="mesero; else signUp">
          <h3>{{ mesero }}</h3>
          <div>
            <a href="">Cerrar Sesion</a>
          </div>
        </div>
        <ng-template #signUp>
          <a routerLink="/inicio-sesion" class="header__link">Inicia Sesion</a>
        </ng-template>
      </li>
    </ul>
  </nav>
</header>