<header class="header">
  <nav>
    <ul class="flex-container">
      <li>
        <button *ngIf="router.url !== '/'" class="button-medium locate-button" (click)="goBack()">Volver</button>
      </li>
      <li class="header__brand" *ngIf="router.url !== '/' && router.url !== '/mesas'">
        <a routerLink="/">
          <img class="responsive-image" [src]="logo" alt="">
        </a>
      </li>
      <li>
        <div *ngIf="waiterName; else signUp">
          <h3>{{ waiterName }}</h3>
          <a routerLink="pedidos" class="header__link">Pedidos</a>
          <div>
            <button (click)="logOut()">Cerrar Sesion</button>
          </div>
        </div>
        <ng-template #signUp>
          <a routerLink="inicia-sesion"  class="header__link">Inicia Sesion</a>
        </ng-template>
      </li>
    </ul>
  </nav>
</header>