<header class="header">
  <nav>
    <ul class="flex-container">
      <li>
        <button *ngIf="router.url !== '/'" class="button-medium locate-button" (click)="goBack()">Volver</button>
      </li>
      <li class="header__brand" *ngIf="router.url !== '/' && router.url !== '/mesas'">
        <a routerLink="/">
          <img class="responsive-image" [src]="logo" alt="">
        </a>
      </li>
      <li>
        <div *ngIf="waiter$; else signUp">
          <h3 (click)="showOption()">{{ waiter$ | slice:0:7 | titlecase }}</h3>
          <div *ngIf="option === 'show'" class="header__option">
            <h4 routerLink="pedidos" class="header__link">Pedidos</h4>
            <h4 (click)="logOut()" class="header__link">Cerrar Sesion</h4>
          </div>
        </div>
        <ng-template #signUp>
          <a routerLink="inicia-sesion"  class="header__link">Inicia Sesion</a>
        </ng-template>
      </li>
    </ul>
  </nav>
</header>