@media (min-width: 700px) {
  .products-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1020px) {
  .products-container {
    margin: 30px;
    width: 50%;
  }
}
