.checkout {
  background-color: var(--primary);
  color: var(--white);
  font-size: 20px;
  min-height: 50px;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  &__productList {
    background-color: var(--black);
    color: var(--primary);
    min-height: 100%;
    position: absolute;
    top: 40%;
    width: 100%;
  }
  &-header {
    padding: 10px 20px;
  }
  &__total {
    font-size: 25px;
    text-align: left;
    padding: 10px 20px;
  }
}

.message {
  align-items: center;
  border: 1px solid var(--primary);
  background-color: var(--black);
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  height: 30%;
  width: 60%;
}
.message-container {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.hiden {
  display: none;
}

@media (min-width: 1020px) {
  .checkout__productList {
    right: 0;
    width: 40%;
  }
}
