<div (window:resize)="onResize($event.target)">
  <section *ngIf="status === 'show'; else sectionMobile" class="checkout__productList">
    <div *ngIf="(products$ | async).length; else elseSection">
      <div class="flex-container checkout-header">
        <h2 class="title">Pedido: {{ client }}</h2>
        <span (click)="hide()">X</span>
      </div>
      <div *ngFor="let product of products$ | async">
        <app-product-checkout [product]="product">
        </app-product-checkout>
      </div>
      <h3 class="checkout__total">Total: {{ total$ | async }} </h3>
      <button class="button-long" (click)="save()">Confirmar</button>
    </div>

    <ng-template #elseSection>
      <span (click)="hide()">X</span>
      <p>Aun no hay productos</p>
    </ng-template>
  </section>
</div>

<ng-template #sectionMobile>
  <section class="checkout flex-container">
    <h3>Total: {{ total$ | async }} </h3>
    <span (click)="showCheckout()">+</span>
  </section>
</ng-template>

<div *ngIf="request === 'success'" class="message">
  <h3>Pedido: {{ client }} enviado </h3>
  <button class="button-medium" (click)="confirm()">OK</button>
</div>
<div *ngIf="request === 'error'" class="message">
  <h3>Error al realizar el pedido, intente de nuevo</h3>
  <button class="button-medium" (click)="showCheckout()">OK</button>
</div>