.area {
  border: 1px solid var(--primary);
  background-color: var(--black);
  margin: 50px auto;
  height: 400px;
  padding: 10px;
  width: 60%;
}

@media (min-width: 700px) {
  .area {
    width: 40%;
    &-flex {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: 1020px) {
  .area {
    margin: 50px 20px;
    height: 600px;
    width: 30%;
  }
}
