<div *ngIf="product">
  <div class="product">
    <img class="responsive-image" [src]="product.image" [alt]="product.name">
    <p class="product__description">{{ product.name }}</p>
    <p>{{ product.description }}</p>
    <span class="product__description">{{ product.price }}</span>
    <div *ngIf="product.options; else add">
      <button class="button-long" (click)="showOptions()">Agregar</button>
    </div>
    <ng-template #add>
      <button class="button-long" (click)="addCart()">Agregar</button>
    </ng-template>
  </div>
</div>

<div *ngIf="status === 'show'" class="modal">
  <span (click)="hideOptions()">x</span>
  <ul>
    <li *ngFor="let option of product.options">
      <label for={{option}}>{{ option }}</label>
      <input type="radio" value="{{option}}" name="productOptions" (change)="optionProduct($event.target.value)" id={{option}}>
    </li>
  </ul>
  <button class="button-long" (click)="addCart()">Agregar</button>
</div>