<div *ngIf="product">
  <div class="product">
    <img class="responsive-image" [src]="product.image" [alt]="product.name">
    <p class="product__description">{{ product.name }}</p>
    <p>{{ product.description }}</p>
    <span class="product__description">{{ product.price }}</span>
    <select [(ngModel)]="option" (change)="setOption(option)">
      <option value="" selected>Sabores</option>
      <option *ngFor="let option of product.options" [value]="option">{{ option }}</option>
    </select>
      <button class="button-long" (click)="addCart()">Agregar</button>
  </div>
</div>