<div (window:resize)="onResize($event)">
  <section *ngIf="status === 'show'; else sectionMobile" class="checkout__productList">
    <div *ngIf="(products$ | async).length; else elseSection">
      <span (click)="hideCheckout()">X</span>
      <h2 class="title">Pedido: {{ client }}</h2>
      <div *ngFor="let product of products$ | async">
        <app-product-checkout [product]="product">
        </app-product-checkout>
      </div>
      <button class="button-long">Confirmar</button>
    </div>

    <ng-template #elseSection >
      <p>Aun no hay productos</p>
    </ng-template>
  </section>
</div>

<ng-template #sectionMobile>
  <section class="checkout flex-container">
    <h3>Total: {{ total$ | async }} </h3>
    <span (click)="showCheckout()">+</span>
  </section>
</ng-template>