.checkout {
  background-color: var(--primary);
  color: var(--white);
  font-size: 20px;
  min-height: 50px;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  &__productList {
    background-color: var(--black);
    color: var(--primary);
    position: fixed;
    min-height: 100%;
    top: 100px;
    width: 90%;
  }
}

.hiden {
  display: none;
}

@media (min-width: 1020px) {
  .checkout__productList {
    right: 0;
    width: 40%;
  }
}
