.product {
  background-color: var(--black);
  border: 1px solid var(--primary);
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.product__description {
  margin: 10px 0;
}

@media (min-width: 700px) {
  .product {
    width: 250px;
  }
}
