<article class="flex-container product-container">
  <div class="half-left">
    <img class="responsive-image" [src]="product.image" [alt]="product.name">
    <h2>{{ product.name }}</h2>
    <div *ngIf="product.options">
      <h3 *ngFor="let option of product.options">
        {{ option }}
      </h3>
    </div>
  </div>
  <div class="flex-container half-right">
      <span (click)="changeAmount()">-</span>
      <span>{{product.amount}}</span>
      <span (click)="addCard()">+</span>
    <span (click)="removeProduct()">Borrar</span>
  </div>
</article>