<article class="flex-container product-container">
  <div class="half-left">
    <img class="responsive-image" [src]="product.image" [alt]="product.name">
    <h2>{{ product.name }}</h2>
    <div *ngIf="product.option">
      <h3>{{ product.option }}</h3>
    </div>
  </div>
  <div class="flex-container half-right">
      <span (click)="changeAmount()">-</span>
      <span>{{product.amount}}</span>
      <span (click)="addCart()">+</span>
    <span (click)="removeProduct()">Borrar</span>
  </div>
</article>