@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

:root {
  --primary: #F4914A;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button-medium {
  background-color: var(--primary);
  font-size: 16px;
  border-radius: 10px;
  color: var(--white);
  padding: 10px 15px;
  outline: none;
}

.button-long {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--white);
  outline: none;
}

.responsive-image {
  max-width: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .6) 100%), url('assets/images/fondoMobile.jpeg') ;
  background-position: top;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

@media (min-width: 700px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .6) 100%), url('assets/images/fondoTablet.jpeg');
    font-size: 22px;
  }
}

@media (min-width: 1020px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .6) 100%), url('assets/images/fondoDestokp.jpeg');
  }
}